:root {
  --Dark--mode-lertas: #35466;
}

* {
  margin: 0%;
  padding: 0%;
  outline: 0%;
}

body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-image: url(/src/image/6ff31a4d-a313-48d1-a46b-2c608fb89110.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.Barra-de-navegaçao {
  height: 4rem;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Icone-lupa {
  margin: 0px 63px;
  height: 40px;
  width: 40px;
  border: solid 7px #efff0b;
  border-radius: 50px;
}

.Icone-Centro {
  height: 35px;
  width: 35px;
  background-color: #f0e2e2;
  position: absolute;
  border-radius: 35px;
  border-radius: 35px;
}

.Icone-perna {
  height: 12px;
  width: 25px;
  position: relative;
  top: 30px;
  border-radius: 1rem;
  left: 38px;
  z-index: -1;
  transform: rotate(27deg);
  background-color: #ffffff;
}

.Mode-Dark {
  height: 50px;
  width: 50px;
  left: 60rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  border-radius: 50px;
  font-size: 28px;
  animation: ease-in;
  transition: 2s;
}

.Mode-Dark:hover {
  height: 50px;
  width: 50px;
  transition: 5s;
  background-color: #ffffff ;
}


.Login-Registre,
li {
  margin: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.Login-Registre,
a {
  color: #ffffff;
  font-weight: 800;
  text-decoration: none;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
}

.Login-Registre,
a:hover {
  color: #efff0b;
  font-weight: 800;
  text-decoration: none;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
}

#SEJA-BEM-VINDO {
  margin-left: 30px;
  color: #ffffff;
  font-size: 102px;
  top: 4rem;
  position: relative;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

#Gratis {
  margin-left: 10rem;
  color: #fbff02;
  font-size: 140px;
  position: relative;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

.Animes-Class {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 46rem;
  background-color: #ffffff;
}
