:root {
  --Dark--mode-lertas: #35466;
}

* {
  margin: 0%;
  padding: 0%;
  outline: 0%;
}

body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-image: url(/src/image/6ff31a4d-a313-48d1-a46b-2c608fb89110.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.Barra-de-navegaçao {
  height: 4rem;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Animes-Class {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 46rem;
  background-color: #ffffff;
}

#SEJA-BEM-VINDO {
  margin-left: 30px;
  color: #ffffff;
  font-size: 102px;
  top: 4rem;
  position: relative;
  font-weight: 900;
}

#Gratis {
  margin-left: 10rem;
  color: #fbff02;
  font-size: 140px;
  position: relative;
  font-weight: 900;
}
